# PANDAS
Bài tập giúp anh/chị làm quen với cách sử dụng pandas

## BƯỚC 1: IMPORT THƯ VIỆN

In [50]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os #Thu vien ho tro thao tac he dieu hanh

## BƯỚC 2: IMPORT DỮ LIỆU
Cần quan tâm đến kiểu file dữ liệu

- `*.csv`: pd.read_csv()

- `*.xlsx` hoặc `*.xls`: pd.read_excel()

- `sql database`: pd.read_sql(sql, con = ...)

**Lưu ý** : Luôn phải kiểm tra đường dẫn của folder hiện tại

In [51]:
# Kiểm tra đường dẫn hiện tại của file
os.getcwd()

'/Users/bichtram/Desktop/01_LapTrinh_Python/hoc_python/0.MindX/Homework'

In [52]:
# Kết hợp đường dẫn hiện tại với tên file dữ liệu
"""
Lưu ý: Kiểm tra đường dẫn hiện tại của folder nhằm xác định chính xác vị trí.
Sau đó điều chỉnh đường dẫn tới file dữ liệu sao cho phù hợp
Ví dụ:
 Cây thư mục hiện tại: D:/2.MINDX/NEWTC/Lesson 03/Tài liệu thực hành
    File dữ liệu: D:/2.MINDX/NEWTC/Dataset/Bài tập về nhà/all_players_stats.csv
-> Đường dẫn tương đối tới file dữ liệu: /Dataset/Bài tập về nhà/all_players_stats.csv
"""
df_player = pd.read_csv(
    "/Users/bichtram/Desktop/01_LapTrinh_Python/hoc_python/0.MindX/Homework/all_players_stats.csv"  # Học viên điều chỉnh lại đường dẫn cho phù hợp
)
df_player.head()

,Team,JerseyNo,Player,Position,Appearances,Substitutions,Goals,Penalties,YellowCards,RedCards
0,Arsenal,7,Bukayo Saka,Defender/Midfielder,40,3,12,2,6.0,0.0
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0
2,Arsenal,32,Aaron Ramsdale,Goalkeeper,37,0,0,0,1.0,0.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0
4,Arsenal,8,Martin Odegaard,Midfielder,36,4,7,0,4.0,0.0

## Bước 3: Đọc các thông tin tổng quan, phát hiện vấn đề về dữ liệu

In [53]:
#Thông tin tổng quan về dữ liệu
df_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           624 non-null    object
 1   JerseyNo       624 non-null    int64
 2   Player         624 non-null    object
 3   Position       624 non-null    object
 4   Appearances    624 non-null    int64
 5   Substitutions  624 non-null    int64
 6   Goals          624 non-null    int64
 7   Penalties      624 non-null    int64
 8   YellowCards    624 non-null    float64
 9   RedCards       624 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 48.9+ KB

In [54]:
#Kiểm tra thống kê cơ bản của dữ liệu
# Lưu ý: Chỉ áp dụng cho các cột số liệu
df_player['YellowCards'] = df_player['YellowCards'].astype(int)

In [55]:
#Kiểm tra null value trong dữ liệu
df_player.isnull().sum()

Team             0
JerseyNo         0
Player           0
Position         0
Appearances      0
Substitutions    0
Goals            0
Penalties        0
YellowCards      0
RedCards         0
dtype: int64

In [56]:
#Kiểm tra trùng lặp trong dữ liệu
df_player.duplicated().sum()

np.int64(1)

In [57]:
df_player

,Team,JerseyNo,Player,Position,Appearances,Substitutions,Goals,Penalties,YellowCards,RedCards
0,Arsenal,7,Bukayo Saka,Defender/Midfielder,40,3,12,2,6,0.0
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7,1.0
2,Arsenal,32,Aaron Ramsdale,Goalkeeper,37,0,0,0,1,0.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3,0.0
4,Arsenal,8,Martin Odegaard,Midfielder,36,4,7,0,4,0.0
...,...,...,...,...,...,...,...,...,...,...
619,Wolverhampton Wanderers,27,Romain Saïss,Defender/Midfielder,32,0,3,0,6,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1,0.0
621,Wolverhampton Wanderers,37,Adama Traoré,Midfielder/Forward,11,12,1,0,0,0.0
622,Wolverhampton Wanderers,11,Trincão,Midfielder/Forward,16,14,3,0,0,0.0
623,Wolverhampton Wanderers,11,Trincão,Midfielder/Forward,16,14,3,0,0,0.0

## BƯỚC 4: XỬ LÝ DỮ LIỆU VỚI PANDAS

### Câu 1: Sắp xếp dữ liệu

Sử dụng câu lệnh sort_value()

In [71]:
# Sắp xếp dữ liệu theo số bàn thắng giảm dần và lấy 10 dòng đầu tiên
df_player.sort_values(by='Goals', ascending=False).head(10)

,Team,JerseyNo,Player,Position,Appearances,Substitutions,Goals,Penalties,YellowCards,RedCards
341,Liverpool,11,Mohamed Salah,Midfielder/Forward,44,6,31,6,1,0.0
514,Tottenham Hotspur,10,Harry Kane,Forward,47,3,27,4,5,0.0
367,Manchester City,26,Riyad Mahrez,Midfielder/Forward,31,16,24,7,1,0.0
407,Manchester United,7,Cristiano Ronaldo,Midfielder/Forward,35,3,24,3,9,0.0
511,Tottenham Hotspur,7,SON Heung-min,Midfielder/Forward,39,6,24,0,3,0.0
331,Liverpool,10,Sadio Mané,Midfielder/Forward,45,5,23,0,8,0.0
317,Liverpool,20,Diogo Jota,Midfielder/Forward,39,15,21,0,6,0.0
351,Manchester City,17,Kevin De Bruyne,Midfielder/Forward,39,6,19,1,4,0.0
296,Leicester City,10,James Maddison,Midfielder,40,13,18,0,7,0.0
572,West Ham United,20,Jarrod Bowen,Midfielder/Forward,45,6,18,0,8,0.0

In [72]:
# Sắp xếp dữ liệu theo số bàn thắng tăng dần và lấy 10 dòng đầu tiên
df_player.sort_values(by='Goals', ascending=True).head(10)

,Team,JerseyNo,Player,Position,Appearances,Substitutions,Goals,Penalties,YellowCards,RedCards
541,Watford,47,Shaqai Forde,Forward,0,1,0,0,0,0.0
528,Tottenham Hotspur,29,Oliver Skipp,Midfielder,22,6,0,0,7,0.0
280,Leicester City,77,Will Alves,Midfielder,0,1,0,0,0,0.0
529,Tottenham Hotspur,25,Japhet Tanganga,Defender,17,2,0,0,2,1.0
278,Leeds United,38,Crysencio Summerville,Midfielder/Forward,1,8,0,0,1,0.0
276,Leeds United,46,Jamie Shackleton,Defender/Midfielder,9,7,0,0,4,0.0
531,Watford,26,Dan Bachmann,Goalkeeper,13,0,0,0,0,0.0
271,Leeds United,1,Illan Meslier,Goalkeeper,42,0,0,0,2,0.0
270,Leeds United,39,Stuart McKinstry,Midfielder,0,2,0,0,0,0.0
269,Leeds United,45,Liam McCarron,Midfielder/Forward,0,1,0,0,0,0.0

In [74]:
# Sắp xếp dữ liệu theo độ ưu tiên: Số bàn thắng (Goals) giảm dần, và Appearances tăng dần
df_player.sort_values(by=['Goals', 'Appearances'], ascending=[False, True]).head(10)

,Team,JerseyNo,Player,Position,Appearances,Substitutions,Goals,Penalties,YellowCards,RedCards
341,Liverpool,11,Mohamed Salah,Midfielder/Forward,44,6,31,6,1,0.0
514,Tottenham Hotspur,10,Harry Kane,Forward,47,3,27,4,5,0.0
367,Manchester City,26,Riyad Mahrez,Midfielder/Forward,31,16,24,7,1,0.0
407,Manchester United,7,Cristiano Ronaldo,Midfielder/Forward,35,3,24,3,9,0.0
511,Tottenham Hotspur,7,SON Heung-min,Midfielder/Forward,39,6,24,0,3,0.0
331,Liverpool,10,Sadio Mané,Midfielder/Forward,45,5,23,0,8,0.0
317,Liverpool,20,Diogo Jota,Midfielder/Forward,39,15,21,0,6,0.0
351,Manchester City,17,Kevin De Bruyne,Midfielder/Forward,39,6,19,1,4,0.0
296,Leicester City,10,James Maddison,Midfielder,40,13,18,0,7,0.0
572,West Ham United,20,Jarrod Bowen,Midfielder/Forward,45,6,18,0,8,0.0

### Câu 2: Lọc dữ liệu

In [ ]:
# Tìm ra cầu thủ có số thẻ vàng nhiều nhất
df_player.loc[df_player['YellowCards',''].idxmax()]

Team                     Burnley
JerseyNo                       5
Player           James Tarkowski
Position                Defender
Appearances                   37
Substitutions                  0
Goals                          1
Penalties                      0
YellowCards                   12
RedCards                     0.0
Name: 149, dtype: object

In [81]:
# Tìm ra Cầu thủ có số thẻ đỏ nhiều nhất
df_player.loc[df_player['RedCards'].idxmax()]

Team                         Arsenal
JerseyNo                          34
Player                  Granit Xhaka
Position         Defender/Midfielder
Appearances                       29
Substitutions                      1
Goals                              1
Penalties                          0
YellowCards                       10
RedCards                         2.0
Name: 5, dtype: object

In [85]:
# Tìm ra cầu thủ vừa có thẻ vàng nhiều nhất và ra trận nhiều nhất
df_player.loc[df_player['YellowCards'].max() & df_player['Appearances'].max()]

Team                     Arsenal
JerseyNo                       8
Player           Martin Odegaard
Position              Midfielder
Appearances                   36
Substitutions                  4
Goals                          7
Penalties                      0
YellowCards                    4
RedCards                     0.0
Name: 4, dtype: object

In [88]:
# Tìm ra cầu thủ chơi ở vị trí Defender và có số bàn thắng nhiều nhất
df_defender = df_player[df_player['Position'] == 'Defender']
df_defender.loc[df_defender['Goals'].idxmax()]

Team              Arsenal
JerseyNo                6
Player            Gabriel
Position         Defender
Appearances            37
Substitutions           1
Goals                   5
Penalties               0
YellowCards             7
RedCards              1.0
Name: 1, dtype: object

### Câu 3: hãy tìm ra cầu thủ thi đấu nhiều nhất với từng CLB

Gợi ý: Sử dụng group by và merge

In [65]:
# Hãy tìm ra cầu thủ thi đấu nhiều nhất của từng CLB
# Bước 1: Tìm số trận đấu nhiều nhất của từng CLB

In [66]:
# Bước 2: Kết hợp với bảng dữ liệu gốc để lấy thông tin cầu thủ tương ứng

# EDA DATA

Bài tập giúp anh/chị làm quen với quá trình xử lý dữ liệu với Python

## Bước 1: Import thư viện

In [67]:
import pandas as pd #Thu vien xu ly du lieu
import numpy as np #Thu vien tinh toan so hoc
import seaborn as sns #Thu vien ve do hoa
import matplotlib.pyplot as plt #Thu vien ve do hoa
import os #Thu vien ho tro thao tac he dieu hanh

## Bước 2: Import dữ liệu

Cần quan tâm đến kiểu file dữ liệu

- `*.csv`: pd.read_csv()

- `*.xlsx` hoặc `*.xls`: pd.read_excel()

- `sql database`: pd.read_sql(sql, con = ...)

In [68]:
#Kiểm tra đường dẫn hiện tại của file 
os.getcwd()

'/Users/bichtram/Desktop/01_LapTrinh_Python/hoc_python/0.MindX/Homework'

In [69]:
# Kết hợp đường dẫn hiện tại với tên file dữ liệu
''' 
Lưu ý: Kiểm tra đường dẫn hiện tại của folder nhằm xác định chính xác vị trí. 
Sau đó điều chỉnh đường dẫn tới file dữ liệu sao cho phù hợp 
Ví dụ: 
 Cây thư mục hiện tại: D:/2.MINDX/NEWTC/Lesson 03/Tài liệu thực hành
    File dữ liệu: D:/2.MINDX/NEWTC/Dataset/Bài tập về nhà/brasil-real-estate-1.csv
-> Đường dẫn tương đối tới file dữ liệu: /Dataset/Bài tập về nhà/brasil-real-estate-1.csv
'''
df = pd.read_csv(
    "" #Học viên điều chỉnh lại đường dẫn cho phù hợp
)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: ''

## Bước 3: Đọc các thông tin tổng quan, phát hiện vấn đề về dữ liệu

Vấn đề gặp phải:

- Dữ liệu bị trùng lặp -> Loại bỏ trùng lặp

- Dữ liệu bị null -> loại bỏ null hoặc điền null bằng giá trị khác

- Dữ liệu của cột place_with_parent_names bị "nén" vào 1 ô, cách nhau bởi dấu "|" -> Tách thông tin cụ thể thành các cột riêng biệt

- lat-lon đang cách nhau bởi dấu "," -> Tách thông tin cụ thể thành các cột riêng biệt

- price_usd sai kiểu dữ liệu -> Đổi kiểu dữ liệu đúng (float)

In [ ]:
# Đọc thông tin tổng quan

In [ ]:
# Kiểm tra kiểu dữ liệu

In [ ]:
# Kiểm tra số lượng dòng , cột

In [ ]:
# Kiểm tra dữ liệu trùng lặp

In [ ]:
# Hiển thị những dòng dữ liệu bị duplicate

#1. chỉ bản copy, giữ lại bản đầu


#2. show tất cả bản trùng (cả bản đầu + bản sau)

In [ ]:
# Kiểm tra dữ liệu null

## Bước 4: Tiền xử lý dữ liệu

## Loại bỏ trùng lặp

In [ ]:
# Loại bỏ trùng lặp

In [ ]:
# Kiểm tra lại

### Xử lý Null

- C1: Loại bỏ

- C2: Điền

In [ ]:
# C1: Loại bỏ giá trị null

In [ ]:
# C2: Điền null

C:\Users\phuoc\AppData\Local\Temp\ipykernel_34084\789194798.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['lat-lon'].fillna('0,0', inplace = True)

0        -9.6443051,-35.7088142
1          -9.6430934,-35.70484
2        -9.6227033,-35.7297953
3          -9.622837,-35.719556
4          -9.654955,-35.700227
                  ...
12828      -8.044497,-34.909519
12829      -8.056418,-34.909309
12830     -8.1373477,-34.909181
12831     -8.1136717,-34.896252
12833     -8.0578381,-34.882897
Name: lat-lon, Length: 10733, dtype: str

In [ ]:
# Kiểm tra lại

property_type              0
place_with_parent_names    0
region                     0
lat-lon                    0
area_m2                    0
price_usd                  0
dtype: int64

### Tách thông tin trong cột

In [ ]:
# Tách thông tin trong cột place_with_parent_names
df_player

In [ ]:
#Tách thông tin cột lat-lon thành 2 cột lat và lon

In [ ]:
# Xóa cột không cần thiết khi tách xong (place_with_parent_names và lat-lon)

### Chuyển kiểu dữ liệu đúng

In [ ]:
# Loại bỏ $

In [ ]:
# Kiểm tra dữ liệu sau khi làm sạch

property_type        str
region               str
area_m2          float64
price_usd        float64
country              str
state                str
city                 str
lat              float64
lon              float64
dtype: object

## 5. Xuất file

## 6. EDA cơ bản - Exploratory Data Analysis

In [ ]:
# Thông tin thống kê về dữ liệu

            area_m2      price_usd           lat           lon
count  10733.000000   10733.000000  10733.000000  10733.000000
mean     116.969533  181913.750204    -16.240899    -44.019120
std       48.296708   96643.210868      7.259185      4.970749
min       53.000000   74892.340000    -29.995461    -60.057747
25%       78.000000  109217.990000    -20.365431    -49.235527
50%      105.000000  152905.190000    -19.861416    -43.945946
75%      145.000000  224677.020000    -12.971756    -38.511925
max      252.000000  524246.390000      0.020423    -34.804455

In [ ]:
# Xem tương quan giữa các cột dữ liệu

In [ ]:
#Vẽ biểu đồ thể hiện sự tương quan dữ liệu giữ area_m2 và price_usd

Dựa vào hình vẽ, ta có kết luận 
- area_m2 và price_usd có sự tương quan thuận (Vì giá trị dương)
=> area_m2 tăng thì price_usd tăng theo
Tuy nhiên sự tương quan này tương đối yếu -> không phải area_m2 nào tăng thì price_usd cũng tăng

In [ ]:
# Đếm số lượng bản ghi theo từng giá trị của cột

In [ ]:
#Đếm số lượng BĐS theo khu vực