# I. Các thao tác với cấu trúc dữ liệu trong pandas

## 1. Pandas Series

In [12]:
import pandas as pd
#Pandas Series:

#Create series:
data = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
sr = pd.Series(data)
sr

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [13]:
#Access element in series
sr.loc[0]

sr.iloc[2]

np.int64(30)

In [14]:
#Broadcast:
#Add 2 series
sr2 = pd.Series(data)

sr + sr2

0     20
1     40
2     60
3     80
4    100
5    120
6    140
7    160
8    180
9    200
dtype: int64

In [15]:
#Minus
sr - sr2

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [16]:
#Multiple 2 series (element * element)
sr * sr2

0      100
1      400
2      900
3     1600
4     2500
5     3600
6     4900
7     6400
8     8100
9    10000
dtype: int64

In [17]:
#Check statistic :
sr.describe()

count     10.000000
mean      55.000000
std       30.276504
min       10.000000
25%       32.500000
50%       55.000000
75%       77.500000
max      100.000000
dtype: float64

In [18]:
# Lọc các giá trị > 50
sr[sr > 50]

5     60
6     70
7     80
8     90
9    100
dtype: int64

In [19]:
# Lọc các giá trị > 50 và < 90
sr[(sr > 50) & (sr < 90)]

5    60
6    70
7    80
dtype: int64

In [20]:
# Tăng thêm 10 đơn vị vào các giá trị
broadcast_data = sr + 10
broadcast_data

0     20
1     30
2     40
3     50
4     60
5     70
6     80
7     90
8    100
9    110
dtype: int64

In [21]:
# Kiểm tra thống kê
mean_value = sr.mean()
median_value = sr.median()
min_value = sr.min()
max_value = sr.max()
std_value = sr.std()

print('Mean:', mean_value)
print('Median:', median_value)
print('Min:', min_value)
print('Max:', max_value)
print('Std:', std_value)

Mean: 55.0
Median: 55.0
Min: 10
Max: 100
Std: 30.276503540974915

## 2. Pandas Dataframe

* Khái niệm: Dữ liệu được lưu trữ với 2 chiều là hàng và cột (bảng) và được đánh index

### a. Khởi tạo từ 1 list

In [22]:
import pandas as pd
data = [
    ['Tu', 26, 'Hanoi'] ,
    ['Linh', 24, 'Hanoi'] ,
    ['Quang', 25, 'TP. HCM']
]

# ['Ten', 'Tuoi', 'Dia chi']

pd.DataFrame(data, columns = ['Ten', 'Tuoi', 'Dia chi'])

     Ten  Tuoi  Dia chi
0     Tu    26    Hanoi
1   Linh    24    Hanoi
2  Quang    25  TP. HCM

### b. Khởi tạo từ Dictionary

In [23]:
data = {
    'Ten': ['Tu', 'Linh', 'Quang'],
    'Tuoi': [26, 24, 25],
    'Dia chi': ['Hanoi', 'Hanoi', 'TP. HCM']
}
pd.DataFrame(data)

     Ten  Tuoi  Dia chi
0     Tu    26    Hanoi
1   Linh    24    Hanoi
2  Quang    25  TP. HCM

### c. Khởi tạo từ file CSV

In [3]:
import pandas as pd

'''
Note:
+ Nếu đọc file từ CSV -> Sử dụng read_csv
+ Nếu đọc file từ Excel -> Sử dụng read_excel
'''
link_sale_detail      = 'https://drive.google.com/file/d/1c4zcdBHyd0FpuAgu-6EV7a349MH4SE4i/view?usp=drive_link' #File csv
path_sale_detail      = 'https://drive.google.com/uc?export=download&id=' + link_sale_detail.split('/')[-2]
df_sale = pd.read_csv(path_sale_detail)
df_sale

,SalesOrderID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal
0,43659,1,776,2024.994,0.0,2024.994
1,43659,3,777,2024.994,0.0,6074.982
2,43659,1,778,2024.994,0.0,2024.994
3,43659,1,771,2039.994,0.0,2039.994
4,43659,1,772,2039.994,0.0,2039.994
...,...,...,...,...,...,...
121312,75122,1,878,21.980,0.0,21.980
121313,75122,1,712,8.990,0.0,8.990
121314,75123,1,878,21.980,0.0,21.980
121315,75123,1,879,159.000,0.0,159.000
121316,75123,1,712,8.990,0.0,8.990

### Đọc vài dòng dữ liệu đầu tiên/ cuối cùng

In [4]:
#Lấy dòng đầu tiên
df_sale.head()

   SalesOrderID  OrderQty  ProductID  UnitPrice  UnitPriceDiscount  LineTotal
0         43659         1        776   2024.994                0.0   2024.994
1         43659         3        777   2024.994                0.0   6074.982
2         43659         1        778   2024.994                0.0   2024.994
3         43659         1        771   2039.994                0.0   2039.994
4         43659         1        772   2039.994                0.0   2039.994

In [26]:
# Lấy dòng cuối cùng
df_sale.tail(3)

,SalesOrderID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal
121314,75123,1,878,21.98,0.0,21.98
121315,75123,1,879,159.00,0.0,159.00
121316,75123,1,712,8.99,0.0,8.99

In [27]:
# Lấy ra 1 cột trong data frame
df_sale['SalesOrderID']

0         43659
1         43659
2         43659
3         43659
4         43659
          ...
121312    75122
121313    75122
121314    75123
121315    75123
121316    75123
Name: SalesOrderID, Length: 121317, dtype: int64

In [28]:
# Lấy ra nhiều cột trong data frame
df_sale[['SalesOrderID','ProductID' ]]

        SalesOrderID  ProductID
0              43659        776
1              43659        777
2              43659        778
3              43659        771
4              43659        772
...              ...        ...
121312         75122        878
121313         75122        712
121314         75123        878
121315         75123        879
121316         75123        712

[121317 rows x 2 columns]

In [29]:
# Thêm cột
# Bổ sung thêm cột  Revenue (UnitPrice - UnitPriceDiscount) * OrderQty
df_sale['Revenue'] = (df_sale['UnitPrice'] - df_sale['UnitPriceDiscount']) * df_sale['OrderQty']
df_sale.head()

,SalesOrderID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal,Revenue
0,43659,1,776,2024.994,0.0,2024.994,2024.994
1,43659,3,777,2024.994,0.0,6074.982,6074.982
2,43659,1,778,2024.994,0.0,2024.994,2024.994
3,43659,1,771,2039.994,0.0,2039.994,2039.994
4,43659,1,772,2039.994,0.0,2039.994,2039.994

In [30]:
#Xoá cột Total Card (Không ghi đè)
df_sale.drop(columns = ['Revenue']).head()

   SalesOrderID  OrderQty  ProductID  UnitPrice  UnitPriceDiscount  LineTotal
0         43659         1        776   2024.994                0.0   2024.994
1         43659         3        777   2024.994                0.0   6074.982
2         43659         1        778   2024.994                0.0   2024.994
3         43659         1        771   2039.994                0.0   2039.994
4         43659         1        772   2039.994                0.0   2039.994

In [31]:
#Xoá cột Total Card (Có ghi đè)
df_sale.drop(columns = ['Revenue'], inplace = True).head()

AttributeError: 'NoneType' object has no attribute 'head'

### Nối dữ liệu chiều dọc (Union)

In [5]:
#Đọc dataset mới:
link_product_1  = 'https://drive.google.com/file/d/1XSFVzinOc2jP_Z7n5EZmDOeC-NR1qJSp/view?usp=drive_link' #File csv
path_product_1  = 'https://drive.google.com/uc?export=download&id=' + link_sale_detail.split('/')[-2]
df_product_1 = pd.read_csv(path_product_1)
df_product_1

,SalesOrderID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal
0,43659,1,776,2024.994,0.0,2024.994
1,43659,3,777,2024.994,0.0,6074.982
2,43659,1,778,2024.994,0.0,2024.994
3,43659,1,771,2039.994,0.0,2039.994
4,43659,1,772,2039.994,0.0,2039.994
...,...,...,...,...,...,...
121312,75122,1,878,21.980,0.0,21.980
121313,75122,1,712,8.990,0.0,8.990
121314,75123,1,878,21.980,0.0,21.980
121315,75123,1,879,159.000,0.0,159.000
121316,75123,1,712,8.990,0.0,8.990

In [6]:

link_product_2 = 'https://docs.google.com/spreadsheets/d/111FcuNPLdSiZhqhUc8mh5K8o2iILBTxp/edit?usp=sharing&ouid=109084115341688211794&rtpof=true&sd=true'
file_id = link_product_2.split('/')[5]   # '111FcuNPLdSiZhqhUc8mh5K8o2iILBTxp'
path_product_2 = f'https://drive.google.com/uc?export=download&id={file_id}'

df_product_2 = pd.read_excel(path_product_2)

In [7]:
#Nối theo chiều dọc (UNION)
df_product = pd.concat([df_product_1, df_product_2])
df_product.head()

,SalesOrderID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal,productname,StandardCost,ListPrice,subcatname,catname
0,43659.0,1.0,776,2024.994,0.0,2024.994,NaN,NaN,NaN,NaN,NaN
1,43659.0,3.0,777,2024.994,0.0,6074.982,NaN,NaN,NaN,NaN,NaN
2,43659.0,1.0,778,2024.994,0.0,2024.994,NaN,NaN,NaN,NaN,NaN
3,43659.0,1.0,771,2039.994,0.0,2039.994,NaN,NaN,NaN,NaN,NaN
4,43659.0,1.0,772,2039.994,0.0,2039.994,NaN,NaN,NaN,NaN,NaN

#### Nối theo chiều ngang

In [ ]:
df_new = df_sale.merge(df_product , left_on = 'ProductID', right_on = 'ProductID', how = 'left')
df_new.head()

### Group by

In [ ]:
# Đếm số lượng đơn hàng, tổng LineTotal
df_new.groupby(by = 'catname', as_index = False).agg(SLDH = ('SalesOrderID', 'nunique'),
                                   tongDoanhSo = ('LineTotal','sum')
                                   )

#### Sắp xếp dữ liệu

In [ ]:
# sắp xếp LineTotal DESC
df_new.sort_values(by = 'LineTotal', ascending = False)

III. THỰC HÀNH PANDAS VỚI DATA