In [1]:
!pip3 install numpy

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.13/site-packages (2.3.5)

In [ ]:
!pip3 install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import numpy as np
mang = np.array([1,2,3]) + 1
print(mang)

[2 3 4]

In [8]:
print(np.linspace(2,10,4))

[ 2.          4.66666667  7.33333333 10.        ]

In [9]:
np.random.randn(5,2)

array([[ 0.08850924, -1.60955477],
       [-1.02184275,  0.1829413 ],
       [ 0.68550255, -0.03389109],
       [-1.0233901 ,  0.31369207],
       [ 0.73973446, -0.70524075]])

In [10]:
array = np.array([[1,2,3],[4,5,6]])
print(np.argmax(array))

5

In [12]:
import pandas as pd

In [13]:
# tạo data frame từ danh sách dữ liệu:

data = {'Name': ['An', 'Binh', 'Chi', 'Dung', 'Em'],
        'Age': [23, 25, 22, 24, 23],
        'City': ['Hanoi', 'Saigon', 'Danang', 'Hue', 'Nha Trang']}
pd.DataFrame(data, columns=['Name', 'Age', 'City'])

   Name  Age       City
0    An   23      Hanoi
1  Binh   25     Saigon
2   Chi   22     Danang
3  Dung   24        Hue
4    Em   23  Nha Trang

# Thống kê

In [ ]:
# thống kê cơ bản